.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panelItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

